  body {
    width: 300px;
    margin: 5px;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
  }
  
  img.logo {
    display: block;
    margin: auto;
  }
  
  span {
    font-size: medium;
    font-weight: 500;
    padding: 10px;
  }
  
  span.page:hover {
    background-color: #d7dde4;
    border-radius: 15%;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }